.App-header {
  background-color: #204051;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 200px);
  align-items: start;
}

.drag-n-drop {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 200px);
  align-items: start;
}
.dnd-group {
  background-color: #3b6978;
  border-radius: 5px;
  padding: 0.5rem;
  height: 100px;
  height: 750px;
}

.row-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: white;
  border-radius: 5px;
  color: #282c34;
  font-weight: bold;
  margin: 11px;
  width: 186px;
}

.dnd-row {
  margin-left: 213px;
  display: flex;
}

.dnd-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: #e7dfd5;
  border-radius: 5px;
  color: #282c34;
  font-weight: bold;
}

.dnd-item:active {
  cursor: pointer;
}

.dnd-item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.dnd-item * {
  margin: 0;
  font-size: 1.2rem;
}
.group-title {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.dnd-item.empty {
  background-color: #e7dfd5;
}

.remove {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  transform: scale(0.6);
  padding: 8px;
}

.undo-button {
  height: 50px;
  width: 100px;
}
